/*Navbar style*/

html,body {
	background:rgba(0, 0, 0, 0.72);
	font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
	width: 100%; 
	height: 80px;
	background: #0c0b09;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #448d00;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 15px;
}
#navdiv ul li.active{
	background:#448d00!important;
}



.heading {
	padding-bottom:15px;
	text-align:left;
	max-width:960px;
	margin:0px auto;
	padding-top:80px;
	font-family: "Times New Roman", Georgia, serif;

}

h2{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-top:-70px;
	margin-left: 72%;
	padding:5px;
}
h2::first-letter {
	color:#448D02;
}
.heading h3 {
	font-size:16px;
	line-height:1.7;
}
.papers,.papers:before,.papers:after {
	background-color: rgba(0, 0, 0, 0.21);
	border:1px solid #ccc;
	-webkit-box-shadow: 10px 10px 16px 9px rgba(224,220,224,1);
	-moz-box-shadow: 10px 10px 16px 9px rgba(224,220,224,1);
	box-shadow: -1px 1px 20px 20px rgba(0, 0, 0, 0.5);
}
.papers {
	font-family: "Times New Roman", Georgia, serif;

	position:relative;
	width:24%;
	padding: 2px 15% 16% 20px;
	margin-left: -150px;
	margin-top:29px;
	font-size:12px;
}

.papers p {
	text-align:left;
	margin:1.5em 0;

}

#papers{
	position: relative;
	width: 13%;
	padding: 2px 15% 16% 20px;
	margin-left: 458px;
	margin-top: -473px;
	font-size: 12px;
}
#papers2{
	position: relative;
	width: 13%;
	padding: 2px 15% 16% 20px;
	margin-left: 885px;
	margin-top: -460px;
	font-size: 12px;
}

body{
	background-image: url("https://static.pexels.com/photos/425/apple-iphone-desk-office.jpg");
	background-size:100%;
}

