/*---------------------------------------------------------------*/

*{
	margin:0;
	padding:0;
	text-decoration:none
}

nav{
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	position:relative;
	width:980px;
	margin-right: 53%;
}
#cssmenu ul li a{
	line-height:1;
	display:block;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:17px;
	font-size:13px;
	letter-spacing:2px;
	text-decoration:none;
	color:#ddd;
	font-weight:900;
}
#cssmenu > ul > li{
	float:left;
}
#cssmenu > ul > li:hover{
	background:#448D00!important;
	-webkit-transition:background .3s ease;
	-ms-transition:background .3s ease;
	transition:background .3s ease;
}
#cssmenu ul li.active{
	background:#448D00!important;
}
#cssmenu ul li {
	background:rgba(0, 0, 0, 0.5);
}



.heading {
	padding-bottom:15px;
	text-align:left;
	max-width:960px;
	margin:0px auto;
	padding-top:80px;
	    font-family: "Times New Roman", Georgia, serif;

}

h2{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-top:-70px;
	margin-left: 72%;
	padding:5px;
}
h2::first-letter {
	color:#448D02;
}
.heading h3 {
	font-size:16px;
	line-height:1.7;
}
.papers,.papers:before,.papers:after {
	background-color: rgba(0, 0, 0, 0.21);
	border:1px solid #ccc;
	-webkit-box-shadow: 10px 10px 16px 9px rgba(224,220,224,1);
	-moz-box-shadow: 10px 10px 16px 9px rgba(224,220,224,1);
	box-shadow: -1px 1px 20px 20px rgba(0, 0, 0, 0.5);
}
.papers {
	font-family: "Times New Roman", Georgia, serif;

	position:relative;
	width:24%;
	padding: 2px 15% 16% 20px;
	margin-left: -150px;
	margin-top:29px;
	font-size:12px;
}

.papers p {
	text-align:left;
	margin:1.5em 0;

}

#papers{
	position: relative;
	width: 13%;
	padding: 2px 15% 16% 20px;
	margin-left: 458px;
	margin-top: -473px;
	font-size: 12px;
}
#papers2{
	position: relative;
	width: 13%;
	padding: 2px 15% 16% 20px;
	margin-left: 885px;
	margin-top: -460px;
	font-size: 12px;
}

body{
	background-image: url("https://static.pexels.com/photos/425/apple-iphone-desk-office.jpg");
	background-size:100%;
}

