/*Navbar style*/

html,body {
	background:rgba(0, 0, 0, 0.72);
	font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
	width: 100%; 
	height: 80px;
	background: #0c0b09;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #448d00;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 15px;
}
#navdiv ul li.active{
	background:#448d00!important;
}

.myName{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-left: 72%;
	padding:2px;
}
.myName::first-letter {
	color:#448D02;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


/* ________ About me __________ */
/*

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  p.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
osition: relative;
  width: 80%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
  }*/

  