/*Navbar style*/

html,body {
	/*	background:rgba(0, 0, 0, 0.72);*/
	background-image: url("https://static.pexels.com/photos/6372/coffee-smartphone-desk-pen.jpg");
	background-size: 100%;
	font-family: arial, sans-serif;
}
img{
	size: 100%;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
	width: 100%; 
	height: 80px;
	background: #0c0b09;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #448d00;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 15px;
}
#navdiv ul li.active{
	background:#448d00!important;
}

/*_____________________________________________*/

.intro2 {
	margin-left:47%;
	margin-top: 100px ;
	font-family: 'Archivo Black', sans-serif;
	line-height: 1.1;
	font-size:28px;
	line-height:1.0;
	font-weight: 500;
	color: black;
	text-align: left;
	font-weight: bold;
	text-shadow: 0 0 20px rgb(43, 62, 64),
	-1px 20px 8px rgba(255,255,255,0.3);
	opacity: 0.9;

}
#intro2{
	margin-top: 60px;
	margin-left:47%;
	font-size: 45px;
}
.style-text{
	margin-left: 47%;
	margin-top:40px;
	font-family: 'Archivo Black', sans-serif;
	line-height: 1.1;
	font-size:45px;
	line-height:1.0;
	font-weight: 500;
	color: black;
	text-align: left;
	font-weight: bold;
	text-shadow: 0 0 20px rgb(43, 62, 64),
	-1px 20px 8px rgba(255,255,255,0.3);
	opacity: 0.9;

}
img#site-title {
	max-width: 299px;
	border-radius: 100%;
	position: absolute;
	margin-top: -39px;
	margin-left: 264px;
	-webkit-box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);
	-moz-box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);
	box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);
}

strong {
	font-weight: 700;
	color: rgba(4, 17, 31, 0.85);
	font-weight: bolder;
	font-weight: inherit;
	font-weight: bold;
}

.myName{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-left: 72%;
	padding:2px;
}
.myName::first-letter {
	color:#448D02;
}

