/*Navbar style*/

html,body {
	/*	background:rgba(0, 0, 0, 0.72);*/
	background-image: url(../img/intro-bg.jpg);
	background-size: 100%;
	font-family: arial, sans-serif;
}
img{
	size: 100%;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
	width: 100%; 
	height: 80px;
	background: #0c0b09;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #448d00;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 15px;
}
#navdiv ul li.active{
	background:#448d00!important;
}

/*_____________________________________________*/

.style-text{
	margin-left: 33%;
	margin-top:20%;
	font-family: 'Archivo Black', sans-serif;
	line-height: 1.1;
	font-size:50px;
	line-height:1.0;
	font-weight: 500;
	color: white;
	text-align: left;
	font-weight: bold;
	text-shadow: 0 0 20px rgb(43, 62, 64),
	-1px 20px 8px rgba(255,255,255,0.3);
	opacity: 0.9;
	position: absolute;
	text-shadow: 0 0 20px rgba(8, 16, 25, 0.85), 0 0 8px rgba(255,255,255,0.3);

}

strong {
	font-weight: 700;
	color: rgba(4, 17, 31, 0.85);
	font-weight: bolder;
	font-weight: inherit;
	font-weight: bold;
}

.myName{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-left: 72%;
	padding:2px;
}
.myName::first-letter {
	color:#448D02;
}

