/*Navbar style*/

html,body {
	background:rgb(51, 61, 64);
font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
width: 100%; 
height: 80px;
background: #0c0b09;
line-height: 80px;
color: white;
margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
background: #448d00;
transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 2%;
	margin-bottom: 10%;
}
#navdiv ul li.active{
	background:#448d00!important;
}

.myName{
	font-weight:700;
	font-family:'Playball',cursive;
	font-size:50px;
	color:#ccc;
	margin-left: 72%;
	padding:2px;
}
.myName::first-letter {
	color:#448D02;
}

/*_____________ wikipedia serach ______________*/

input {
  width:60%;
  margin-bottom: 5%;
  margin-left: 15%;
  height: 30px;
  border-radius: 5%;
}
.heading {
  border-radius:100px;
  margin:100%;
  padding:1%;
  display:inline-block;
  font-family:'Lobster';
}

.heading img {
  background-color:#0099cc;
  border-radius:25px;
  display:inline-block;
  font-family:'Lobster';
  width:50%;
}

a { color: inherit; 
} 
h2 {
  color:white;
  padding-left:3%;
  padding-top:1%;
}
p {
  padding-bottom: 1%;
  padding-left:1%;
  font-size:25px;
  color: white;
}
div {
  border-radius:25px;
}

#output {
  margin-top:1%;
  border-radius:25px;
  font-family:'Lobster';
}
h2 {
  font-family:Times New Roman;
}

#search{
	height: 31px;
border-radius: 5%;
}
