/*Navbar style*/

html,body {
  background:rgba(0, 0, 0, 0.72);
font-family: arial, sans-serif;
}
*{
  padding: 0px;
  margin: 0px
}
#navdiv{
  opacity: 0.7;
  filter: (opacity=70)
}
#navdiv ul{
width: 100%; 
height: 80px;
background: #0c0b09;
line-height: 80px;
color: white;
margin-right: 15px;
}
#navdiv ul a{

  text-decoration: none;
  color: white;
  padding: 20px;
}
#navdiv ul li{
  list-style-type: none;
  display: inline-block;
  float: right;
}

#navdiv ul li:hover{
background: #448d00;
transition: all 0.40s;
}
#navdiv h1{
  width: 300px; 
  float: left;
  cursor: pointer;
  margin-left: 15px;
}
#navdiv ul li.active{
  background:#448d00!important;
}



.container #currentProjects{
 margin-left:5px;
 position:absolute;
 top:150px;
 left:15px;
 font-size: 35px;
 text-decoration:none;  
}
.container #favouriteProjects{
 margin-left:5px;
 position:absolute;
 top:150px;
 left:680px;
 font-size: 35px;
 text-decoration:none;  
}
.projects-link {
  text-align: center;
  position: relative;
  background-color: #090d17;
  padding: 20px 40px;
  /*border-radius: 80px;*/
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 24px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
.projects-link:hover {
 /*border: #4186ab 1px solid;*/
 background: #4186ab;
 color: #000000;
}
.projects-link:active {
 border: #1b435e;
 background: #1b435e;
}	

.projects-link{
 width: 40%;
 /* margin: 0px 0px;*/
 margin-top: 0px;
}

.projects-link:hover{
 background: #4186ab;
 color: #000000;
}

#row{
  height: 40px ;
  /*display: flex ;*/
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  /*border: 0.1em solid #ffffff;*/
  padding-top: 150px;
  padding-left: 543px;
  width: 8em;
  background: rgba(0, 0, 0, 0.85);
  text-align: left;
  /*text-transform: uppercase;*/
  font-family: 'Teko', sans-serif;
  /*font-size: calc(1em + 2vmin);*/
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);
  -moz-box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);
  box-shadow: 0px 0px 12px 6px rgba(0,5,1,1);


}
