/*Navbar style*/

html,body {
	background:rgba(0, 0, 0, 0.72);
	font-family: arial, sans-serif;
}
*{
	padding: 0px;
	margin: 0px
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70)
}
#navdiv ul{
	width: 100%; 
	height: 80px;
	background: #0c0b09;
	line-height: 80px;
	color: white;
	margin-right: 15px;
}
#navdiv ul a{

	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #448d00;
	transition: all 0.40s;
}
#navdiv h1{
	width: 300px; 
	float: left;
	cursor: pointer;
	margin-left: 15px;
}
#navdiv ul li.active{
	background:#448d00!important;
}

#form-area{
	background-color: rgb(71, 71, 71);
	width: 100%;
	margin-top: 60%;
	text-align: center;
}

